{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}

<html lang="en">
<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
<link rel="stylesheet" href="{% static '/stock/stock/menustock.css' %}">
<script src="{% static '/stock/stock/menustock.js' %}"></script>
</head>
<body onload="actelementos()">

 <div class="contenedor-menu-cat">
 <ul class="menu-cat">

  <li><a class ="atexttit" href="#"onclick="seleccab();">STOCK</a>  <ul class="menu-cat">
  <li><a href="{% url 'articulos_cargar' pk_token=0 %}" >ARTICULOS</a> </li>
  <li><a href="{% url 'familia_cargar' pk_token=0 %}" >FAMILIA</a> </li>
  <li><a href="{% url 'inventario_cargar' pk_token=0 %}" >INVENTARIO</a> </li>
  <li><a href="{% url 'inv_toma_login' %}" >TOMA INVENTARIO</a> </li>
  <li><a href="{% url 'inv_ajuste_cargar' %}" >AJUSTE INVENTARIO</a> </li>

 <li><a href="{% url 'deposito' %}" >DEPOSITO</a> </li>
 <li><a href="{% url 'movdepcab_cargar' pk_token=0 %}" >MOV STOCK</a> </li>

 </ul>
 </li>
 <li><a class ="atexttit"  href="#"onclick="seleccab();">INFORMES</a> <ul class="menu-cat">
 <li><a href="{% url 'stock' %}" > INFORME STOCK</a> </li>
 <li><a href="{% url 'movdepcabinf' %}" > INFORME MOV. DEPOSITO</a> </li>
 <li><a href="{% url 'views_inventario_lst' %}" > INFORME MOV. INVENTARIO</a> </li>

 </ul></li>

 </ul> </div>
</body>
</html>
{% endblock %}