

.cab{
float:left;
height:70px;
min-width: 200px;
border-left-radius:2px;
border-color: transparent;
width: 100vw;
border-radius: 2px;
padding: 2px 2px ;
}

.btncab {
position:left;
width:20%;
min-width:120px;
height:100%;
float:left;
border-radius: 2px;
padding: 2px 2px ;
}

.titcab {
float: left;
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
width:250px;
height:80%;
border-radius: 8px;
color:black;
font: 14px Arial, Helvetica, sans-serif;
box-shadow: 5px 5px rgba(0,0,0.5,0.5);
text-align: center;
border: 0.5px solid gray;
background-color: gray 50%; /* or background-color: grey 90%; */
}


.inventarioi {
float:left;
max-width: 850px;
height:100%;
width: 100vw;
height: 100vh;
border: 1px solid #000000;

}

.buscar_inventario{
float:left;
width:100%;
height:80%;
padding: 2px 2px ;
border-radius:10px;
}
.celdatxtbuscar{
float:left;
width:70%;
max-width:500px;
height:100%;
border-radius:10px;

}

.btn{
float: left;
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
width:80px;
height:30px;
color:black;
border: 0.2px solid gray;
border-radius:8px;
box-shadow: 3px 3px rgba(0,0,0,0.5);
font: 12px Arial, Helvetica, sans-serif;
}

a:hover{
color:008B8B;
background-color:#c8c8c8;
}
a:focus{
color:008B8B;
background-color:#c8c8c8;
}
button:hover{
color:008B8B;
background-color:#c8c8c8;
}
button:focus{
color:008B8B;
background-color:#c8c8c8;
}
.boton {
float: left;
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
width:80px;
height:30px;
color:black;
border-radius: 6px;
font: 12px Arial, Helvetica, sans-serif;
box-shadow: 3px 3px rgba(0,0,0,0.5);
background-color: #f2f2f2;
padding: 2px 2px;
transition: all 0.3s ease;
margin-right: 8px;
margin-top: 8px;
}

.formulario{
position: relative;
float:left;
width:420px;
height:450%;
border: 2px solid #000000;
border-color: transparent;
}

.columna0{
float:left;
width: vw;
height:100%;
border-color: transparent;
border: 1px solid red;
border-color: transparent;
}

.columna1,.columna2,.columna3{
position: relative;
padding:10px;
padding-left:5px;
float:left;
width:450px;
height:250px;
border: 1px solid #000000;
border-color: gainsboro;

}
.columna3{
padding:2px;
padding:10px;

 }

.campo1 ,.campo2{
padding:2px;
position: relative;
float:left;
width:100px;
height:35px;
border: 1px solid #000000;
border-color: transparent;

}
.campo2{ width:300px; }

input  {
font: 14px Arial, Helvetica, sans-serif;
position: relative;
float:left;
width:50%;
height:30px;
border-radius: 4px;
border-color: gainsboro;
}

input:focus {
  background-color: #f2f2f2;;
}

.txtnum{ text-align: right;}
.flia{ width:280px;}
label {  font: 18px Arial, Helvetica, sans-serif;}

.botones{
position: relative;
float:left;
width:100%;
height:30px;
padding-left:40px;
}

.fecha,.nrotoma{
float:left;
width:110px;
height:80%;
}

.deposito,.observacion{
float:left;
width:120px;
height:100%;
}
.observacion{
width:250px;
}

.columnalst,.columnalstt{
float:left;
width:95%;
min-width:630px;
height:50px;
//border: 1px solid #000000;

}
.columnalst1,.columnalst2,.columnalst3{
float:left;
width: 400px;
height:30px;
//border: 1px solid #000000;
}

//.columnalst2{width: 452px; }
//.columnalst3{width: 180px; }


.celdalistado,
.celdalistadol,
.celdalistadof,
.celdalistadolt,
.celdalistadoltl,
.celdalistadoft{
font: 10px Arial, Helvetica, sans-serif;
position: relative;
float:left;
width:130px;
height:100%;
border-color: gainsboro;
border: 1px solid :#5F2F3F4;
//background-color:#F2F3F4;
box-shadow: 3px 3px rgba(0.1,0.1,0.1,0.1);
padding:5px 5px;
}

.celdalistadol,.celdalistadoltl{ width:250px;}
.celdalistadof,.celdalistadoft{ width:150px;}
.celdalistadolt,.celdalistadoft,.celdalistadoltl{
text-align:center;
font-weight: bold;
font-style: italic;
padding:5px;
}

.btnlstm, .btnlste{
width:80px;
height:30px;
border-radius:8px;
box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.btnlste{ color: red; }
.btnlste:hover {color:black; background-color:red; }
.btnlste:focus {color:black; background-color:red; }


.msnsuccess{
  float:left;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 90vw;
  height:50vw;
}

.listadodetf{
float:left;
width:100%;
height:100%;
#border: 1px solid green;
max-height: 100%; /* Por ejemplo */
max-width: 100%; /* Por ejemplo */
 /* Agregar barra de desplazamiento cuando el contenido excede el tamaño del div */
 overflow: auto;

}
.listinf,.listinffam{
float:left;
width:440px;
height:60px;
#border: 1px solid #000000;
}
.listinffam{
width:100%;
height:100%;
}
.listinfcod{
float:left;
width:1px;
height:1px;
visibility: hidden;
#border: 1px solid red;
}

@media only screen and (max-device-width : 600px)  {
    .panellogo {
    width: 100vw;
    }

    .formulario{
    width:100%;
    }
    .columnalst{height:120px;}
    .columnalstt{height:120px;}

    .msnsuccess{
     width: 50%;
     height:90%;
    }
    .contenedor-menu-cat {
       width: 100vw;
    }
}

.listcontg{
padding:20px;
float:left;
width:230px;
height:100%;
#border: 1px solid red;
}

.celdatomado{
float:left;
width:110px;
height:25px;
#border: 1px solid #000000;
}
