
.cab{
float:left;
height:60px;
min-width: 200px;
border-left-radius:2px;
border-color: transparent;
width: 100vw;
border-radius: 2px;
padding: 2px 2px ;
}

.btncab {
float:left;
position:left;
width:120px;
height:50px;
float:left;
border-radius: 2px;
padding-left: 10px;
}

.titcab {
float:left;
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
padding: 10px 20px ;
width:200px;
height:26px;
border-radius: 8px;
color:black;
font: 14px Arial, Helvetica, sans-serif;
box-shadow: 5px 5px rgba(0,0,0.5,0.5);
text-align: center;
border: 0.5px solid gray;
background-color: gray 50%; /* or background-color: grey 90%; */
}

.btn{
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
width:80px;
height:30px;
border-radius:8px;
padding:8px;
padding-left:8px;
box-shadow: 3px 3px rgba(0,0,0,0.5);
font: 12px Arial, Helvetica, sans-serif;
}
.boton {
float: left;
text-decoration: none;  /* Quita el subrayado */
display: flex;            /* Activa flexbox */
justify-content: center;   /* Centra el texto horizontalmente */
align-items: center;       /* Centra el texto verticalmente */
width:80px;
height:30px;
color:black;
border-radius: 6px;
font: 12px Arial, Helvetica, sans-serif;
box-shadow: 3px 3px rgba(0,0,0,0.5);
background-color: #f2f2f2;
padding: 2px 2px;
transition: all 0.3s ease;
margin-right: 8px;
margin-top: 8px;
}


.boton:hover {
background-color: #0062cc;
box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
color:008B8B;
background-color:#c8c8c8;
}
.boton:focus {
background-color: #0062cc;
box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
color:008B8B;
background-color:#c8c8c8;
}


a:hover{
color:008B8B;
background-color:#c8c8c8;
}
a:focus{
color:008B8B;
background-color:#c8c8c8;
}

.buscar_compracab{
float:left;
width:100%;
height:80%;
padding: 2px 2px ;
}
.celdatxtbuscar{
float:left;
width:70%;
max-width:500px;
height:90%;
}
.formulario{
position: relative;
float:left;
width:420px;
height:450%;

}
.columna0{
float:left;
width: 600px;
height:360px;
border: 1px solid #000000;
border-color: transparent;

}
.columna1,.columna2{
padding:10px;
padding-left:5px;
float:left;
width:300px;
height:300px;
border: 1px solid #000000;
border-color: transparent;
font: 14px Arial, Helvetica, sans-serif;
border-color: gainsboro;
border-radius: 8px;
}
.columna2{
width:200px;

}
.campo1 ,.campo2{
position: relative;
float:left;
width:45%;
height:25px;
border: 1px solid #000000;
border-color: transparent;

}

input  {
font: 14px Arial, Helvetica, sans-serif;
position: relative;
float:left;
width:99%;
height:100%;
border-radius: 4px;
border-color: gainsboro;

}
input:focus {
  background-color: #f2f2f2;;.boton:hover {
  background-color: #0062cc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
color:008B8B;
background-color:#c8c8c8;
}
.boton:focus {
background-color: #0062cc;
box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
color:008B8B;
background-color:#c8c8c8;
}

}
.oclultar{
 display: none;

}
.txtnum{ text-align: right;}
.txtfecha{ width:110px;}
.txtnombre{ width:100%;}
.flia{ width:280px;}
label {  font: 14px Arial, Helvetica, sans-serif;}
.botones{
position: relative;
float:left;
width:100%;
height:30px;
padding-left:5px;
}

.columna{
float:left;
width:90%;
height:100%;
}

.columnalst,.columnalstt{
float:left;
width:90%;
min-width:630px;
height:35px;
border: 1px solid red;
border-color: transparent;
}

.columnalst1,.columnalst2,.columnalst3{
float:left;
width: 455px;
height:30px;
border: 1px solid blue;
border-color: transparent;

}
.columnalst2{width: 600px;}
.celdalistado,
.celdalistadot,
.cellistbtn
{
font: 14px Arial, Helvetica, sans-serif;
position: relative;
float:left;
width:140px;
height:25px;
border-color: gainsboro;
border: 1px solid =#5F2F3F4;
//background-color:#F2F3F4;
box-shadow: 3px 3px rgba(0.1,0.1,0.1,0.1);
border: 1px solid #000000;
border-color: transparent;

}
.celdalistadot{
text-align:center;
font-weight: bold;
font-style: italic;
}

.cellistfecha{width:80px; }
.cellistprov{width:200px; }
.cellistbtn{width:100px;  }
.btnlstm, .btnlste{
width:80px;
height:25px;
border-radius:4px;
box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.btnlste{ color: red; }
.btnlste:hover {color:black; background-color:red; }
.btnlste:focus {color:black; background-color:red; }

.listadodet{
width:80%;
height:100%;
float:left;
text-align: center;
}


.detallelinea0{
float:left;
width:400px;
height:300px;
border: 1px solid #000000;
border-color: transparent;
border-color: gainsboro;
border-radius: 8px;
}
.detallelinea1{
width:400px;
height:240px;
border: 1px solid #000000;
border-color: transparent;

}
.detallelinea2{
width:390px;
height:30px;
float:left;

}
.detlineaint{
width:100%;
height:100%;
float:left;
border: 1px solid #000000;
border-color: transparent;
}

.btnlstdet, .btenlstdete{
width:70px;
height:20px;
border-radius:4px;
border: 1px solid #000000;
font: 12px Arial, Helvetica, sans-serif;
border-color: transparent;
box-shadow: 3px 3px rgba(0,0,0,0.5);
}
.btenlstdete{ color: red; }

.msnsuccess{
  float:left;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 90vw;
  height:50vw;
}

@media only screen and (max-device-width : 600px)  {
    .panellogo {
    width: 100vw;
    }
    .formulario{
    width:100%;
    }
    .detallelinea0{
    min-width:500px;
    height:80px;
    }
    .msnsuccess{
     width: 50%;
     height:90%;
    }
    .columnalst{height: 70px; }
    .columna0{height: 70px; }

}

/* Estilo para los botones de opción */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  margin-right: 5px;
}

/* Estilo para los botones de opción seleccionados */
input[type="radio"]:checked {
  background-color: #337ab7;
  border-color: #337ab7;
}

/* Estilo para las etiquetas de los botones de opción */
label {
  cursor: pointer;
}

/* Estilo para el botón de envío */
input[type="button"] {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  cursor: pointer;
}
.contscr {
width: 100%; /* Ancho del div, ajusta según sea necesario */
height: 100%; /* Altura del div, ajusta según sea necesario */
overflow-x: scroll; /* Barra de desplazamiento horizontal */
overflow-y: scroll; /* Barra de desplazamiento vertical */
border: 1px solid #ccc; /* Borde para visualizar el div */
border-radius: 1%;
}
